<a href="https://colab.research.google.com/github/bruno-teider/BigData/blob/main/PairRDDChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark
from pyspark.sql import SparkSession
import re

spark = SparkSession.builder.appName("project").master("local[*]").getOrCreate()

sc = spark.sparkContext

rdd = sc.textFile("Airports.csv")

In [30]:
# Load the Airports.csv dataset as a conventional RDD and remove the header
# Convert it into a PairRDD with (Airport Name, (City, Altitude)) format
# Obtain all entries in which the city is equal to PARIS and altitude > 80
# Capitalize only the City name, but maintaining the format (k, (v1,v2))
# Sort the results according to the Airport Altitude

# Remove header
non_header = rdd.filter(lambda x: x.split(",")[0] != "icao_code")
pairRDD = non_header.map(lambda x: (x.split(",")[2],( x.split(",")[3], int(x.split(",")[13]))))

parisRdd = pairRDD.filter(lambda x: x[1][0] == "PARIS" and x[1][1] > 80)

capitalizedRdd = parisRdd.map(lambda x: (x[0], (x[1][0].capitalize(), x[1][1])))

sorted = capitalizedRdd.sortBy(lambda x: x[1][1], ascending=False)

sorted.collect()

[('CHARLES DE GAULLE', ('Paris', 120)), ('ORLY', ('Paris', 89))]